<h1>Listing countries</h1>

<div class="countries">
  <%= select("project", "countries", Country::COUNTRIES)  %>
</div>

<div class="america_sities">
  <%= select("project", "sities", Country::AMERICA_SITIES)  %>
</div>

<div class="russia_sities">
  <%= select("project", "sities", Country::RUSSIA_SITIES)  %>
</div>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%= link_to 'Show', country %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
    <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Country', new_country_path %>
